<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Basic hello-go app made with GoLang</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/more.css">
	</head>
	<body>
		<section class="section column-section section-bio">
		<figure class="logo"></figure>
			<p class="bio">Hello World basic app from the hello-go application build with GoLang</p>
		</section>
		<footer class="footer main-text main-text-small">
			<a class="footer-links link-twitter" target="_blank" rel="noopener" href="https://twitter.com/_christianb_">twitter</a>
			<div class="scrunch" aria-hidden="true"></div>
		</footer>
		<div class="cb-more">
			<a id="cb-more-link" class="cb-more-link" target="_blank" rel="noopener" href="https://github.com/christi4n/hello-go"></a>
			<div class="cb-more-content shine">
				<span class="cb-more-title">GitHub repo</span>
				<span class="cb-more-subtitle">Go to the GitHub code repository →</span>
			</div>
		</div>
	</body>
</html>